In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("test").getOrCreate()

In [6]:
df = spark.read.csv(r"C:\Users\hamza\Desktop\Systeme-Predictif-Gestion-Logistique\data\data_final_v2\data.csv", inferSchema=True, header=True)

In [7]:
df.show(5)

+------------------+---------------------------+------------------+------------------+-------------------+------+-----------+--------+--------------+------------+----------------+---------------+--------------+--------------+
|late_delivery_risk|days_for_shipment_scheduled| benefit_per_order|sales_per_customer|order_item_quantity| sales|order_month|    type| shipping_mode|      market|customer_segment|    order_state|  order_region| category_name|
+------------------+---------------------------+------------------+------------------+-------------------+------+-----------+--------+--------------+------------+----------------+---------------+--------------+--------------+
|                 0|                          4|             91.25|       314.6400146|                1.0|327.75|          1|   DEBIT|Standard Class|Pacific Asia|        Consumer|Java Occidental|Southeast Asia|Sporting Goods|
|                 1|                          4|-78.02499722750001|       311.3599854|                1.0|327.75|          1|TRANSFER|Standard Class|Pacific Asia|        Consumer|       Rajast�n|    South Asia|Sporting Goods|
|                 0|                          4|-78.02499722750001|       309.7200012|                1.0|327.75|          1|    CASH|Standard Class|Pacific Asia|        Consumer|       Rajast�n|    South Asia|Sporting Goods|
|                 0|                          4|       22.86000061|       304.8099976|                1.0|327.75|          1|   DEBIT|Standard Class|Pacific Asia|     Home Office|     Queensland|       Oceania|Sporting Goods|
|                 0|                          4|       134.2100067|            298.25|                1.0|327.75|          1| PAYMENT|Standard Class|Pacific Asia|       Corporate|     Queensland|       Oceania|Sporting Goods|
+------------------+---------------------------+------------------+------------------+-------------------+------+-----------+--------+--------------+------------+----------------+---------------+--------------+--------------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import col, avg, count
df.filter(col("late_delivery_risk") == 1).groupBy("order_region").agg(
    avg("sales").alias("Moyenne Salaire"),
    count("late_delivery_risk").alias("Total Risk")
    ).show()

+---------------+------------------+----------+
|   order_region|   Moyenne Salaire|Total Risk|
+---------------+------------------+----------+
|     South Asia|198.62779246278112|      4350|
| Eastern Europe|198.21895900455164|      2182|
|    West of USA|194.37314319286054|      4313|
|Southern Europe|208.18543301660182|      5129|
|   Central Asia|195.20817372094766|       306|
|Central America|200.42919387194922|     15518|
|    East of USA| 195.9156521154187|      3849|
|   North Africa|193.79700720977974|      1762|
|Northern Europe|211.43595085233568|      5292|
|      Caribbean|  197.593777288616|      4415|
|  South America| 198.0700186780078|      8111|
|Southern Africa|200.49891802636947|       617|
| Western Europe|210.27026139904433|     15140|
|  South of  USA|193.30148430061723|      2256|
|        Oceania| 196.1919009712517|      5482|
|         Canada| 193.7414995891024|       468|
|      US Center|196.34199662948197|      3252|
|      West Asia| 197.5849767866133|      3322|
|   Eastern Asia|201.64926704820687|      3955|
|    East Africa|203.13117198603382|      1036|
+---------------+------------------+----------+
only showing top 20 rows